<div class="show">
  <div class="page-header">
    <div class="row">
      <div class="medium-12 columns">      
        <h2><%= @train.stock %></h2>
        <h4>This train was last spotted at <%= @train.posts.last.location %></h4>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="medium-4 columns">
      <%= image_tag @train.image %>
    </div>
    <div class="medium-8 columns">
      <p><strong>Train facts:</strong></p>
      <%= @train.try(:facts) %>
    </div>
  </div>


  <br> <!-- Take out when styling -->
  <br>




  <div class="row">
    <div class="medium-12 columns">
      <h3>People who have spotted this train:</h3>
    </div>
  </div>



  <% @train.posts.in_groups_of(1) do |group| %>
  <div class="row spacer" data-equalizer>
    <% group.compact.each do |post| %>
    <div class="medium-3 columns" data-equalizer-watch>
      <%= image_tag post.image %>
    </div>
    <div class="medium-9 columns" data-equalizer-watch>

      <%= post.user.username %> saw this train at <%= post.location %> on <%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %>
      <br>
      <%= link_to post.title, post_path(post) %>

      
    </div>
    <% end %>
  </div>
  <hr>
  <% end %>

</div> <!-- End of .show -->


