<div class="hide-for-medium-up">

  <nav class="pushy pushy-left">
    <ul>
      <% if current_user %>
      <%= link_to 'View Profile', user_path(current_user.id) %>
      <%= link_to 'Settings', edit_user_registration_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %> 

      <% else %>
      <%= link_to 'Login', user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </ul>
  </nav>

  <div class="site-overlay"></div>
  
  <div class="pushy-menu">
    <div class="row">
      <div class="small-2 columns" style="z-index: 1000;">
        <div class="menu-btn" style="float: left">
          <a class="list-icon">&#9776;</a>
        </div>
      </div>
      <div class="small-10 columns">
        <h1 class="title"><a href="/">TubeSpotter</a></h1> 
      </div>         
    </div>
  </div> <!-- # End pushy-menu -->
</div> <!-- # End hide-for-large-up -->

<div class="show-for-medium-up">
  <nav class="top-bar medium-12 columns" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "TubeSpotter", root_path %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">


        <% if user_signed_in? %>
        <li><%= link_to "Trains", trains_path %></li>
        <li><%= link_to "View All Posts", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
        <li><span>Hello <strong><%= link_to current_user.first_name, user_path(current_user), class: "current-user" %></strong></span></li>

        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>