<div class="page-header">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Meet the TrainSpotters</h2>
    </div>
  </div>
</div>



<% @users.in_groups_of(2) do |group| %>
<div class="row" data-equalizer>
  <% group.compact.each do |user| %>
  <div class="medium-6 columns" data-equalizer-watch>
    <%= image_tag user.photo %>
    <br>
    <b><%= user.first_name %> <%= user.last_name %></b>
    <br>
    <% if user.posts.count > 0 %>

    <%= user.first_name %> has recently spotted a <%= link_to "#{user.posts.last.train.stock}", train_path(user.posts.last.train) %> stock train at <%= user.posts.last.location %> station.
    <br>
    <%= link_to "#{user.posts.last.title}", post_path(user.posts.last) %>
    <% else %>
    <%= user.first_name %> has no posts yet :(
    <% end %>
    <br>
    <br>
  </div>
  <% end %>
</div>
<% end %>
