<div class="page-header">
  <div class="row">
    <div class="medium-12 column">
    <h2>Add a new post</h2>
    </div>
  </div>
</div>

<div class="row">
<div class="medium-6 medium-centered columns">
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, placeholder: "Title" %>

  <%= f.label :image %>
  <%= f.text_field :image, autofocus: true, placeholder: "Image" %>

  <%= f.label :description %>
  <%= f.text_field :description, autofocus: true, placeholder: "Description" %>

  <%= f.label :train_id %>
  <!-- http://www.rubydoc.info/docs/rails/4.1.7/ActionView%2FHelpers%2FFormOptionsHelper%3Acollection_select -->
  <%= f.collection_select(:train_id, Train.all, :id, :stock, prompt: true) %>

  <%= f.label :line %>
  <%= f.collection_select :line, @line, :to_s, :to_s, include_blank: 'Please select:' %>

  <!-- It'd be great to use ransack for this: -->
  <%= f.label :location %>
  <%= f.text_field :location, autofocus: true, placeholder: "Station Name" %>

  <%= f.label :platform %>
  <%= f.number_field :platform, autofocus: true, max: 20, placeholder: "Platform" %>


  <%= f.submit 'Submit' , :class => 'button submit-button one-hundred' %>

<% end %>
</div>
</div>







